d:release
opt:size
d:strip
d:lto
x:off
d:ssl
#d:sslVersion="3-x64"
out:buaalogin

mipsel.linux.clang.path = "$projectdir/../tools"
mipsel.linux.clang.exe = "zig-mipsel-openwrt-cc.cmd"
mipsel.linux.clang.linkerexe = "zig-mipsel-openwrt-link.cmd"

arm64.linux.clang.path = "$projectdir/../tools"
arm64.linux.clang.exe = "zig-aarch64-linux.cmd"
arm64.linux.clang.linkerexe = "zig-aarch64-linux.cmd"

amd64.linux.clang.path = "$projectdir/../tools"
amd64.linux.clang.exe = "zig-x86_64-linux.cmd"
amd64.linux.clang.linkerexe = "zig-x86_64-linux.cmd"

amd64.windows.clang.path = "$projectdir/../tools"
amd64.windows.clang.exe = "zig-x86_64-windows.cmd"
amd64.windows.clang.linkerexe = "zig-x86_64-windows.cmd"
